<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo/32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo/16x16.png') }}">
    <title>{{ title + ' | ' if title else '' }}{{ config.APP_NAME }}: {{ config.APP_SLOGAN }}</title>

    <!-- Twitter -->
    <meta name="twitter:site" content="@{{ config.APP_TWITTER }}">
    <meta name="twitter:creator" content="@{{ config.APP_TWITTER }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ config.APP_NAME }}">
    <meta name="twitter:description" content="{{ config.APP_SLOGAN }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/logo/512x512.png') }}">

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ config.APP_URL }}">
    <meta property="og:title" content="{{ config.APP_NAME }}">
    <meta property="og:description" content="{{ config.APP_SLOGAN }}">
    <meta property="og:image" content="{{ url_for('static', filename='img/logo/512x512.png') }}">

    <!-- Other -->
    <meta name="description" content="{{ config.APP_SLOGAN }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ config.APP_URL }}">
        <img src="{{ url_for('static', filename='img/logo/32x32.png') }}" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.landing') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('catalog.browse') }}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.page', slug='about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account.overview') }}">Account</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="{{ url_for('catalog.browse') }}" method="get">
            <input class="form-control mr-sm-2" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        {% set category = 'danger' %}
                    {% endif %}

                    {% if category == 'message' %}
                        {% set category = 'info' %}
                    {% endif %}

                    <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}
    <div class="content pt-3">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>